- name: Ensure database backup folder exists
  file:
    path: "{{ backup_base_dir }}/db"
    state: directory
    mode: '0755'

- name: Backup selected database
  shell: >
    mysqldump -u {{ item.user }} -p'{{ item.password }}' {{ item.name }} | gzip > {{ backup_base_dir }}/db/{{ item.name }}_{{ ansible_date_time.iso8601_basic }}.sql.gz
  loop: "{{ backup_db }}"
  when: item.name == selected_db
  register: db_backup_result
  ignore_errors: yes

- name: Show short database backup log
  debug:
    msg: >
      {% for result in db_backup_result.results %}
        {% if result.rc == 0 %}
        ✅ Database '{{ result.item.name }}' backup successful
        {% else %}
        ❌ Database '{{ result.item.name }}' backup failed
        {% endif %}
      {% endfor %}
